@charset "UTF-8";

html {
    font-family: WorkSans, Helvetica, Arial, sans;
	font-size: 1.2em;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}

body {
	padding: 0 0;
	margin: 0 0;
}

main, .footer-content {
	margin: 0 auto;
	max-width: 40em;
}

@media (max-width: 800px) {
	main, .footer-content {
		margin: 0 0.5em;
	}
}

a {
	color: #279b99;
	text-decoration: none;
}

a:hover, a:active {
	color: #000;
	text-decoration: underline;
}

h1, h2, h3, h4, h5 {
	font-family: Oddee-No1;
	font-weight: 200;
}

h1, h2, h3, h4, h5, p {
	margin-top: 2em;
	margin-bottom: 2em;
}
img, ul {
	margin-top: 8em;
	margin-bottom: 8em;
}
	
img {
	width: 140%;
	margin-left: -20%;
}

@media (max-width: 800px) {
	img {
		max-width: calc(100% + 1em);
		margin: 0.5em -0.5em;
	}
}

li {
  list-style-type:none;
  margin: 1em 0;
}

li:before {
  content: "🧵"; /* bullet points */
  padding-right: 1em;
}

::selection {
	color: #279b99;
	background-color: #000;
}

ul.nav li {
	display: inline;
	margin: 0 2em 0 0;
}

ul.nav li:before {
	content: "";
	padding: 0;
}

footer {
	background-color: #521e4c;
	margin-top: 16em;
	color: #fff;
}

.footer-content {
	padding: 4em 0;
}