@charset "UTF-8";

html {
    font-family: WorkSans, Helvetica, Arial, sans;
	font-size: 1.2em;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	height: 100%;
  	margin: 0;
}

body {
	padding: 0 0;
	margin: 0 0;
	height: 100%;
}

main, .footer-content {
	margin: 0 auto;
	max-width: 40em;
}

@media (max-width: 800px) {
	main, .footer-content {
		margin: 0 0.5em;
	}
}

a {
	color: #279b99;
	text-decoration: none;
}

a:hover, a:active {
	color: #000;
	text-decoration: underline;
}

h1, h2, h3, h4, h5 {
	font-family: Oddee-No1;
	font-weight: 200;
}

h1, h2, h3, h4, h5, p {
	margin-top: 2em;
	margin-bottom: 2em;
}
img, ul {
	margin-top: 8em;
	margin-bottom: 8em;
}
	
img {
	width: 140%;
	margin-left: -20%;
}

@media (max-width: 800px) {
	img {
		max-width: calc(100% + 1em);
		margin: 0.5em -0.5em;
	}
}

li {
  list-style-type:none;
  margin: 1em 0;
}

li:before {
  content: "🧵"; /* bullet points */
  padding-right: 1em;
}

::selection {
	color: #279b99;
	background-color: #000;
}

ul.nav {
	margin: 0 0;
}

ul.nav li {
	display: inline;
	margin: 0 2em 0 0;
}

ul.nav li:before {
	content: "";
	padding: 0;
}

header {
	background-color: #000;
	margin-top: 0;
	height: 2em;
}

.couch {
	position: fixed;
	top: 10px;
	left:10px;
	cursor: move;
	display: inline-grid;
	
	padding: 0 0;
	margin: 0 0;
}

.couch.icon {
	background: url(assets/icons/default-folder.svg) no-repeat center;
	height: 64px;
	width: 64px;
	width: 192px;
	filter: drop-shadow(15px 15px 15px rgba(1, 2, 5, 0.5));
}

.couch.icon a {
	font-size: 16pt;
	margin-top: 64px;
	font-weight: 600;
	text-align: center;
	filter: none;
}

.couch.embed {
	cursor: default;
	box-shadow: 15px 15px 30px rgba(1, 2, 5, 0.5);
	background-color: rgb(0, 0, 0);
	border-radius: 4px;
}

#index-background {
	min-height: calc(100% - 2em);
	width: 100%;
	background: linear-gradient(200deg, #33708b, rgb(65, 33, 107));
}

footer {
	background-color: #521e4c;
	margin-top: 16em;
	color: #fff;
}

.footer-content {
	padding: 4em 0;
}