@charset "UTF-8";

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
  	margin: 0 0;
}

body {
	font-family: WorkSans;
	font-size: 18px;
	line-height: 1.5em;
	padding: 0 0;
	margin: 0 0;
	height: 100%;
	width: 100%;
}

main, .footer-content {
	margin: 0 auto;
	max-width: 40em;
}

@media (max-width: 800px) {
	main, .footer-content {
		margin: 0 0.5em;
	}
}

main {
	margin-top: 8em;
}

a {
	color: #279b99;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #000;
	text-decoration: underline;
	outline-color: #279b99;
	outline-width: 3px;
}

.hidden {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
	font-family: Oddee-No1;
	font-weight: 200;
}

/* --- font sizes and spacing --- */
h1, .h1 {
	font-size: 2.83333333em;
	line-height: 1.05882353em;
	margin-top: 0.52941176em;
	margin-bottom: 1.05882352em;
  }
  h2, .h2 {
	font-size: 2em;
	line-height: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 0.75em;
  }
  h3, .h3 {
	font-size: 1.38888889em;
	line-height: 1.08em;
	margin-top: 1.08em;
	margin-bottom: 0em;
  }
  h4, .h4 {
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 0em;
  }
  h5, .h5 {
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 3em;
  }
  p, ul, ol, pre, table, blockquote, img, ul, .project-video video {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
  }
  ul ul, ol ol, ul ol, ol ul {
	margin-top: 0em;
	margin-bottom: 0em;
  }

  blockquote p {
	text-align: right;
	margin-right: -2.1em;
	padding-top: 0.5em;
  	padding-bottom: 0.5em;
 	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: rgba(0, 0, 0, 0.1);
  }
/* --- end of font section --- */

.text blockquote p {
	text-align: left;
	background-color: white;
}

.text li:before {
	content: none; /* bullet points */
	padding-right: 1em;
  }

.text li {
	list-style-type: circle;
	margin: 1em 0;
  }


img, ul, .project-video video {
	width: 100%;
}

@media (min-width: 104em) {
.two-column {
	margin: 0 auto;
	width: 82em;
	}
}

@media (min-width: 104em) {
	.two-column img, .two-column video {
		position: absolute;
		width: 30em;
		left: calc(50% - 36em);
		margin-top: 0;
		margin-bottom: 0;
		}
	
	.two-column main {
		margin-left: calc(50% - 4em);	
		margin-right: 0;	
		width: 40em;
	}
}

@media (max-width: 800px) {
	img, video {
		width: calc(100% + 1em);
		margin: 0.5em -0.5em;
	}
}

li {
  list-style-type:none;
  margin: 1em 0;
}

li:before {
  content: "🧵"; /* bullet points */
  padding-right: 1em;
}

::selection {
	color: #279b99;
	background-color: #000;
}

ul.nav {
	margin: 0 0;
}

ul.nav li {
	display: inline;
	margin: 0 2em 0 0;
}

ul.nav li:before {
	content: "";
	padding: 0;
}

header {
	background-color: #000;
	margin: 0 0;
	width: 100%;
	position: absolute;
	z-index: 100;
	font-size: 1.2em;
	top: 0;
	left: 0;
}

header.index {
	position: relative;
}

header a {
	float: right;
	padding: 1em 1em;
	
	font-family: Oddee-No1;
	font-weight: 200;
}

header a:hover, header a:active {
	color: #fff;
}

header.index a {
	color: white;
}

#index-background {
	min-height: 100%;
	width: 100%;
	z-index: -100;
	background-color: #000;
	-webkit-filter: opacity(.5);
  	filter: opacity(.5);
}

/* index-page floating icons */
@media (min-width: 800px) {
	.couch {
		position: fixed;
		z-index: 100;
		top: 10px;
		left:10px;
		display: inline-grid;
		cursor: grabbing; /* grab? move? */
		
		max-width: calc(90px * 2);
		padding: 0 0;
		margin: 0 0;
		
		filter: drop-shadow(55px 55px 5px #0003);
	}
	
	.couch-text {
		font-size: 1em;
		font-weight: 600;
		margin: 0 auto;
		text-align: center;
		filter: none;
		margin-top: 0.5em;
	}

	.couch-text span {
		background-color: #000;
		border-radius: 0.27em;
		padding: 0.27em 0.27em;
		box-decoration-break: clone;
	}
}

.couch-icon {
	height: 80px;
	width: 80px;
	margin: 0 auto;
}

.couch-icon.nails {	background: url(icons/nail_polish_clw_v1.svg) no-repeat 2px;  }
.couch-icon.folder { background: url(icons/open_folder.svg) no-repeat 2px;  }
.couch-icon.shark {	background: url(icons/shark.svg) no-repeat 2px;  }
.couch-icon.d20 { background: url(icons/d20.svg) no-repeat 2px;  }
.couch-icon.terminal { background: url(icons/terminal.svg) no-repeat 2px;  }
.couch-icon.spiral { background: url(icons/spiral.svg) no-repeat 2px;  }

.couch-link {
	cursor: pointer;
}

.couch-link:hover, .couch-link:active, .couch-link:focus {
	color: #fff;	
} 

/* mobile index page */
@media (max-width: 800px) {
	header.index { background-color: #000; font-size: 1em; }
	header.index a { color: #279b99; }
	#index-background { margin: -30em 0 0 0; background: linear-gradient(200deg, #33708b, rgb(65, 33, 107));}
	#index-video { display: none; }
	#bucket {
		margin: 8em 0 -16em 0;
	}
	
	.couch-link {
		display: inline-block;
		margin: 0.5em 2em;
		width: calc(100vw - 6em);
		padding: 0.5em 0.5em;
		background-color: #000;
		border-radius: 0.25em;
	}
	
	.couch-icon {
		display: block;
		margin: 0 0.5em 0 0;
		width: 3em; height: 3em;
		float: left;
	}
	.couch-text {
		min-height: 3em;
		overflow: auto;
		display: flex;
  		align-items: center;
	}
	.couch-text span {
		
		font-weight: 600;
		display: inline;
		vertical-align: middle;
	}
	.couch-link:hover, .couch-link:active,.couch-link:focus {
		background-color: #279b99; /* 1cdbf7 */
		color: #000;
		text-decoration: none;
	}

	
}

/* Credits */
#credits {
	margin-top: 8em;
	font-style: italic;
}

/* Footer */

footer {
	background-color: #521e4c;
	margin-top: 8em;
	color: #fff;
}

footer img {
	width: 8em;
	height: auto;
	margin-right: 1.8em;

}

@media (max-width: 800px) {
	footer img {
		width: 6em;
		height: auto;
		margin-left: 0.2em;
		margin-right: 0.2em;
	}
}

.footer-content {
	padding: 4em 0;
}