<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>{{ title or metadata.title }}</title>
		
		<meta name="description" content="{{ description or metadata.description }}">
		
		<script type="text/javascript" src="/assets/drag.js"></script>
		
		<link rel="stylesheet" type="text/css" href="{{ '/assets/hot.css' | url }}" />
		<link rel="stylesheet" type="text/css" href="{{ '/assets/fonts.css' | url }}" />
		
		<link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' | url }}"/>
		
		<!-- embed -->
		<meta property="og:title" content="Re:Coding Algorithmic Culture">
		<meta name="twitter:title" content="Re:Coding Algorithmic Culture">
		
		<meta property="og:site_name" content="Re:Coding Algorithmic Culture">
		<meta property="og:url" content="//r-calc.net/">
		
		<meta property="og:image" content="//r-calc.net/ [TODO] ADD PICTURE HERE">
		<meta name="twitter:image" content="//r-calc.net/ [TODO] ADD PICTURE HERE">

	</head>
	<body>
		<header {% if page.url == '/' %} class="index" {% endif %}>
			<h1 class="hidden">Header</h1>
			<a href="{{ '/' | url }}">{{ metadata.title }}</a>
		</header>
	
		{{ content | safe }}
		
		{% if page.url != '/' %}
		<footer>
			<div class="footer-content">
			The re:Coding project was something something and ran from 20XX to 20XX. Link to impressum
			</br>
			</br>
			VW LOGO?</br>
			UNI LOGO? 💸💸💸
			</div>
		</footer>
		{% endif %}
	</body>
</html>