---
layout: layouts/base
tags: impressum
permalink: "{{ title | slug }}/"
---
<main>
	
<h1>{{ title }} – Legal Notice</h1>

{{ content | safe }}
<img style="width: 200px;" alt="Logo of the Creative Commons Attribution-NonCommercial licence displaying the letters CC, an abstract human form and a crossed out dollar sign." src="../assets/logos/CC-license.png">

</main>